.timetable-container{
  display: flex;
    background-size: cover  ;
    height: 100vh;  
    width:100%;
    background-position:  center;
    background-image: url('../../assets/life.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color:blanchedalmond;
}
