.footer-container{
    display: flex;
    background-color:black;
    height: 180px;
}
.footer-lnm-logo{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.newsLetter-lnm{
    padding:1rem;
    width: 30%;
}
.footer-social{
display: flex;
justify-content: space-around;
    width: 25%;
}
.footer-dropdown{
   
    margin-left: 1rem;
    width: 25%;
}
.footer-content{
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 0;
    color: rgb(73, 73, 116);
    font-weight:500;
}
#footer-address{
    color:white;
    font-size: smaller;
    margin-bottom: 0;
}
.footer-lnm-logo img{
    max-height: 100%;
    max-width: 100%;
    object-fit:contain;
}
#newsletter{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newsletter-title{
    color:white;
    text-align: center;
}
#newsletter-subscription{
    display: block;
    width:90%;
    margin:auto;
}
.footer-links{
    display: flex;
    flex-direction: column;

}
.footer-links>p {
    font-size: large;
    margin-top: 1rem;
    color: rgb(73, 73, 116);
    font-weight:500;
    margin-bottom: 1rem;
}
.footer-links>a{
    margin-bottom:0.4rem;
    text-decoration: none;
    font-weight: lighter;
    color: azure;
}
.social-icons{
    display: flex;
    /* justify-content: space-between; */
    
    font-size: 2rem;
}
.social-icons>a{
    margin-right:2rem;
    margin-top: 0;
    color: aliceblue;

}
.social-icons>a:hover{
    color:blanchedalmond;
    cursor: pointer;
}