
body{
    box-sizing: border-box;
}
.form-container{
    font-family: 'Poppins', sans-serif;
     width: 60%;
     height: 80%;
}
.form-box{
    background-color: rgb(232, 233, 254);
    outline: none;
    border:transparent;
    border-radius: 0.3rem;
    padding: 0.7rem;
    width: 18rem;
    margin-top:1rem;
}
.form-box::placeholder{
    font-weight: bold;
    color:#576ba9;
}
#ContactAddress{
    width: 42rem;
    height: 4rem;
    resize: none;
}
#pref{
    margin-top:0;
}
#Dob{
    padding-top: 0;
}
.form-features{
    display: flex;
}
.form-features{
    justify-content: space-between;
}
.form-background{
    padding: 3rem;
    background-color: white;
}
.title{
    font-weight: 600;
    margin-top:20px;
   
}
.form-header{
    margin-top: 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.form-options{
    margin:0;
}
.form-options a{
    padding: 0em;
    margin-left:25px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color:red;
}
.line{
    background-color: blueviolet;
    width: 602px;
    height: 4px;
}
.form-header span{
    font-weight: bold;
    font-size: 25px;;
}
.partitions{
    display: flex;
    justify-content:space-around;
}
.Pi{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
form{
    font-weight: bold;
}
form input{
    padding:5px;
}
form label{
    margin:10px 0px 10px 0px;
}
.gender ,.contact-no,.dob{
    margin-right: 12px;
}
.vertical-line{
    background-color: black;
    width:1px;
    height: 240px;
}
.submit{
    font-size: small;
    border-radius: 20px;
    background-color: rgb(35, 61, 246);
    width: 140px;
    padding:10px;
    border-color: transparent;
    color: white;
    
}
#Dob{
    width: 10rem;
}
.branches{
    width:4rem; 
}
.branchesss{
    display: flex;
    margin-left: 1rem;
    
}

.form-container-container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2e5fe;
        padding-top: 2rem;
        height:1000px
}
.form-branch{
    display: inline-flex;
    margin-left: 1rem;
}
.branchesss>div{
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}