.life-container{
    margin-top: 40px;
    padding-right: 20px;
    margin-left: 20px;
}
#life-para{
    text-align: left;
}

.lifeContent{
    margin-top: 40px;
}
.life-bkg{
    background-size: cover  ;
    /* height: 100vh; */  
    width:100%;
    background-position:  center;
    background-image: url('../../assets/festimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}